



.divflex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 15%;
}
.projectCard {
  flex-basis: calc(33.33% - 20px); /* Subtract 20px to account for margin and border */
  margin: 10px;
  box-sizing: border-box;
}